streamlit
numpy
pandas
matplotlib
scipy
scikit-learn
shap
openpyxl
pypdf
duckdb
pyarrow
chromadb
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langchain-google-genai
google-generativeai
langchain-groq