streamlit
numpy
pandas
matplotlib
scipy
scikit-learn
shap
openpyxl
pypdf
duckdb>=1.0.0
pyarrow>=14.0.0
chromadb==0.5.5
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35
langchain-text-splitters
langchain-openai==0.1.22
langchain-google-genai>=1.0.0
google-generativeai
langchain-groq
fastembed