streamlit
numpy
pandas
matplotlib
scipy
scikit-learn
shap
pypdf
langchain-text-splitters
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35
langchain-openai==0.1.22
chromadb==0.5.5
openpyxl